body{
    background-image: url("images/hack.jpg");
    font-family: 'Courier New', Courier, monospace;
}

.maindiv{
    background: black;
    height: 1000px;
    color: palegreen;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagewala{
    padding-top: 50px;
    position: relative;
    text-align: center;
}

.tomjerry{
    position: relative;
    text-align: center;
}

.loader{
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 5px solid palegreen;
}

.myphoto{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

hr {
   background-color:  palegreen;
}

.myname{
    color: palegreen;
    text-align: center;
    margin-bottom: -50px;
}


.education{
    color: palegreen;
    display: none;
}

pre{
    color: palegreen;
}
