body{
    background-image: url("images/hack.jpg");
}

div.container{
    font-family: 'Courier New', Courier, monospace;
}

.maindiv{
    background: black;
    height: 2000px;
    color: palegreen;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagewala{
    padding-top: 50px;
    position: relative;
    text-align: center;
}

.tomjerry{
    position: relative;
    text-align: center;
}

.loader{
    margin: auto;
}

.myphoto{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

hr {
   background-color:  palegreen;
}

.myname{
    color: palegreen;
    text-align: center;
    margin-bottom: -50px;
}


.education, .cp{
    color: palegreen;
    display: none;
}

pre{
    color: palegreen;
}

.judge{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.link1{
    color: palegoldenrod;
}

@media screen and (max-width: 480px) {
    .judge {
        display:none;
    }
}