
body { 
    padding-top: 65px; 
    background-color:  	#F8F8F8;
}
.block {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.shortDescription {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.blogDate{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.belowHeader{
    width:60%;
    margin-right:40%;
}

.blogTitle{
    margin: auto;
}

.blogBlogDate{
    font-size: 14px;
    line-height: 1.5;
    color: grey;
    font-family: 'Inconsolata', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}

.blogContent{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.authorDetails{
    margin-top: 10px;
}

.authorImage{
 text-align: center;
 background-color: black; 
 color: white; 
 border-radius: 50%; 
 width: 35px; 
 height: 35px;
 padding-top: 5px;
 float: left;
 position: relative;
}
.authorName{
    padding-top: 5px;
    margin-left: 40px;
    position: relative;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}
.headImage{
    margin-top: -10px;
    width: 100%; 
    height: 40vh;
    margin-bottom: 30px;
}

@media only screen and (min-width: 1000px) {
.blogBlock{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.block{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.headImage{
    height: 70vh;
}
}